.pager {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(233, 229, 229);
    box-shadow: inset 0px -3px #c2c0c0;
}
  
li {
    float: left;
}

li a {
    display: block;
    color: darkred;
    padding: 14px 16px;
    text-decoration: none;
}

.pager-current {
    background-color: lightgrey;
    padding: 14px 16px;
    box-shadow: inset 0px -3px #333333;
}